/* input{
    padding: 10px;
    margin: 30px;
}
button{
    padding: 10px;
    margin: 30px;

} */
*{
    background-color: black;
}
.hd{
    text-align: center;
   
    color: azure;
    
}
img{
    width: auto;
    height: 500px;
    
    width: 1250px;
}